<div style="width: 35%; margin: auto; text-align: center;">

    <br><h1>Registrati o Accedi</h1><br>

</div>

<div style="width: 35%; margin: auto; background-color: lightgray" class="card-body col-sm-12 col-lg-12">

    <p>Nome:</p>
    <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Inserisci nome">
    </form>
    <br><p>Username:</p>
    <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Inserisci username">
    </form>
    <br><p>Indirizzo e-mail:</p>
    <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Inserisci indirizzo e-mail">
    </form>
    <br><button type="button" class="btn btn-secondary text-dark" (click)="toggleDiv()">Submit</button>

    <div *ngIf="divVisible">
        <br><p>Numero della carta:</p>
        <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="0000 0000 0000 0000">
        </form>
        <br><p>Data di scadenza:</p>
        <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="00/00">
        </form>
        <br><p>Codice di sicurezza (CVV/CVC):</p>
        <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="000">
        </form>
        <br><p>Nome del titolare della carta:</p>
        <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Inserisci nome">
        </form>
        <br><p>Cognome del titolare della carta:</p>
        <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Inserisci cognome">
        </form>
        <br><button type="button" class="btn btn-secondary text-dark">Procedi al pagamento</button>
    </div>

</div>



      